<ion-header>
  <ion-toolbar>
    
    <ion-button slot="start">
      <ion-back-button text="" defaulthref="/about"></ion-back-button>
    </ion-button>

    <ion-title>Javier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Javier Ramirez</ion-card-title>
    </ion-card-header>
    <ion-card>
      <img src="assets/img/WhatsApp Image 2023-01-12 at 21.15.22.jpeg" alt="">
    </ion-card>
    
    
    <ion-card-content>
        jae.ramirez@duocuc.cl <br>
        +569 4056 6429<br>
        Ingeniería en informática
    </ion-card-content>
</ion-card>
</ion-content>