<ion-header>
  <ion-toolbar>
    
    <ion-button slot="start">
      <ion-back-button text="" defaulthref="/about"></ion-back-button>
    </ion-button>

    <ion-title>Nicolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Nicolas Cacéres</ion-card-title>
    </ion-card-header>

   
    <ion-img src=" https://i1.sndcdn.com/avatars-Z300ASxwgnOHbXTD-7pz0Cw-t500x500.jpg" alt=""></ion-img>

    <ion-card-content>
        Ni.caceresr@duocuc.cl <br>
        +569 6693 7474<br>
        Ingeniería en informática
    </ion-card-content>
</ion-card>
</ion-content>
