<ion-header>
  <ion-toolbar>
    
    <ion-button slot="start">
      <ion-back-button text="" defaulthref="/about"></ion-back-button>
    </ion-button>

    <ion-title>Kevin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
        <ion-card-title>Kevin Bustos</ion-card-title>
    </ion-card-header>

    <ion-card>
      <img src="assets/img/WhatsApp Image 2023-01-12 at 20.36.16.jpeg" alt="">
    </ion-card>

    <ion-card-content>
        ke.bustoss@duocuc.cl <br>
        +569 9795 4124<br>
        Ingeniería en informática
    </ion-card-content>
    
</ion-card>
</ion-content>
