<ion-header>
  <ion-toolbar>
    
    <ion-button slot="start">
      <ion-back-button text="" defaulthref="/about"></ion-back-button>
    </ion-button>

    <ion-title>David</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>David Luengo</ion-card-title>
    </ion-card-header>

    <ion-img src="assets/img/jotaro.jpg" alt=""></ion-img>


    <ion-card-content>
        davi.luengo@duocuc.cl <br>
        +569 5769 8979 <br>
        Ingeniería en informática
    </ion-card-content>
</ion-card>
</ion-content>
